<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= typeof title !== 'undefined' ? title : 'Sistema de Gestión de Obras Hídricas' %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <% if (typeof extraCss !== 'undefined' && extraCss) { %>
    <% extraCss.forEach(function(css) { %>
      <link rel="stylesheet" href="/css/<%= css %>">
    <% }); %>
  <% } %>
</head>
<body<% if (typeof bodyClass !== 'undefined') { %> class="<%= bodyClass %>"<% } %>>
