<%- include('partials/head', { title: '404', extraCss: ['general.css'], bodyClass: '' }) %>
<div class="container text-center" style="margin-top:200px;">
  <h1>404 - Página no encontrada</h1>
  <p><a href="/">Volver al inicio</a></p>
</div>
<%- include('partials/footer') %>
